<div class="common-content" style="background-color: blueviolet; align-items: center; flex-direction: column;">
    <p style="align-self: center;">lista contato</p>
    <div style="display: flex; flex-direction: column; justify-content: center; gap: 5px;">
    @for (contato of contatos; track $index) {
        <div  style="display: flex; justify-content: space-around;">
            <div (click)="openDetalhes(contato.id)" class="hover" style="background-color: aliceblue; display: flex; flex-direction: column; gap: 2px;">
                <p><b>EMAIL: </b>{{contato.email}}</p>
                <p><b>NOME: </b>{{contato.nome}}</p>
                <p><b>TELEFONE: </b>{{contato.telefone}}</p>
            </div>
        </div>
    }    
    </div>
</div>

<style>
    .hover:hover {
        border: 5px solid gray;
    }
</style>